* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 30px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #f1a50c;
}

.banner-logo {
    margin: 10px 10px;
}


/* baru  */


/* .nav_logo {
    max-height: 4.688rem
}

.nav_logo.new {
    max-height: 50px
} */


/* ens baru */

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #ec8a0a;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #0aa7ce;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #dfa812ce;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu {
        width: 100%;
        margin: 0;
    }
    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }
    nav .menu ul li {
        display: inline-block;
        float: none;
    }
    section {
        display: block;
    }
    section img {
        display: block;
        width: 100%;
        height: auto;
    }
    .kartu-tutor {
        width: 50%;
    }
    .kartu-partner {
        width: 50%;
    }
}

.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #3f72af;
}

@media screen and (max-width: 991.98px) {
    .logo a {
        display: inline;
    }
    .tombol-menu {
        display: flex;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul li {
        width: 100%;
        border-bottom: 1px solid #333333;
    }
}

#ukuran-logo img {
    width: 60px;
    height: 60px;
    position: left;
}

.container-logo {
    background-color: #333333;
}

#submit-button {
    width: 100px;
    margin: 10px 130px;
}

.ctus {
    text-align: center;
    margin: 40px 10px;
}

.hub124 {
    margin: 10px 60px;
}

.name22 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#hasil-output-contact-us {
    background-color: #fc5185;
    width: 50px;
    height: 50px;
    border: #0aa7ce;
}

body {
    font-family: 'Roboto', Arial, sans-serif
}

.none {
    display: none
}


/* Input Field CSS */

.datainput {
    position: relative;
    margin: 5px 0 20px
}

.datainput p {
    font-size: 12px;
    background: #eee;
    display: inline-block;
    padding: 5px 15px;
    border-radius: .5rem
}

.whatsapp-form textarea {
    min-height: 120px
}

.datainput select {
    padding: 12px 0;
    color: #555;
    font-size: 14px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    outline: none;
    background: #fff
}

.datainput input,
.datainput textarea {
    font-size: 15px;
    padding: 15px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd
}

.datainput input:focus,
.datainput textarea:focus {
    outline: none
}

.datainput label {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 18px;
    transition: .2s ease all
}

.datainput input:focus~label,
.datainput input:valid~label,
.datainput textarea:focus~label,
.datainput textarea:valid~label {
    top: -10px;
    font-size: 14px;
    color: #21a51f
}

#notif-license span {
    font-size: 40px
}

#notif-license {
    display: none;
    position: fixed
}

.bar {
    position: relative;
    display: block;
    width: 100%
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #21a51f;
    transition: .2s ease all
}

.bar:before {
    left: 50%
}

.bar:after {
    right: 50%
}

.datainput input:focus~.bar:before,
.datainput input:focus~.bar:after,
.datainput textarea:focus~.bar:before,
.datainput textarea:focus~.bar:after {
    width: 50%
}

.indigox {
    background: #3f51b5
}

.orangex {
    background: #ff9800
}

.pinkx {
    background: #e91e63
}

.bluex {
    background: #2196F3
}

.purplex {
    background: #9c27b0
}

.redx {
    background: #F44336
}

.greenx {
    background: #4CAF50
}

.highlight {
    position: absolute;
    height: 50%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: .5
}

.datainput input:focus~.highlight,
.datainput textarea:focus~.highlight {
    animation: inputHighlighter .3s ease
}

.datainput input:focus~label,
.datainput input:valid~label,
.datainput textarea:focus~label,
.datainput textarea:valid~label {
    top: -10px;
    font-size: 13px;
    color: #21a51f
}


/* Default Whatsapp Form CSS by www.idblanter.com */

form.whatsapp-form {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-radius: .5rem;
    padding: 20px;
    box-sizing: border-box;
    color: #444;
    font-size: 14px;
    line-height: 1.5;
}

.whatsapp-form a.send_form {
    color: #fff;
    background: #21a51f;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border-radius: .3rem;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 15px;
}

#text-info span {
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-weight: 700;
    margin: 15px 0;
    border-radius: .5rem;
}

#text-info span.yes {
    background: #c6ffc5;
    color: #0ea904;
}

#text-info span.no {
    background: #ffc5c5;
    color: #ce0404;
}

.whatsapp-form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
}
