/* Mask Header */

#headerNAvigation {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 10px;
}

#headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px 10px;
}

#subtitle {
    color: rgba(37, 37, 37, 0.616);
    margin: 5px 1px;
}


/* MARK Call Us Section */

#callUs {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#article {
    flex-basis: 50%;
    flex-grow: 1;
    margin-left: 32px;
}

#article img {
    max-width: 95%;
    max-height: 100%;
    border-radius: 8px;
}

#form {
    flex-basis: 30%;
    flex-grow: 1;
    background-color: rgba(177, 176, 176, 0.397);
    margin: 1px 30px;
    border-radius: 8px;
}

.titleform {
    margin: 40px 40px;
}

.titleSubForm {
    margin: 20px 40px;
    background-color: rgba(243, 11, 11, 0.055);
}

#container {
    position: relative;
    width: 50px;
    height: 50px;
}

#container image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.btn-learna {
    display: inline-block;
    border-radius: 3px;
    color: #414146;
    border: 1px solid #414146;
    background-color: transparent;
    padding: 10px 16px;
    font-size: 0.9rem;
}

.btn-learna:hover {
    background-color: transparent;
    border: 1px solid #ee950f;
    color: #eea00f !important
}

#formname {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: grey;
    margin-right: 32px;
    border-radius: 8px;
}

#formNama {
    margin: 30px 45px;
}


/* css orang start */

.benefit ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 60px;
    list-style-type: none;
}

.benefit ul li span {
    background-color: rgba(114, 114, 114, 0.131);
    padding: 15px;
    font-size: 15px;
    border-radius: 200%;
    width: 30px;
    height: 1%;
    text-align: center;
    margin-right: 40px;
}


/* css orang end */

#Testimoni {
    color: rgba(37, 37, 37, 0.616);
    margin: 1px 1px;
}

.form-group {
    margin-bottom: 1rem
}

body {
    background-color: gainsboro;
}

.badan {
    background-color: white;
    padding: 13px 0;
    margin-top: 30px;
}

.peding-100 {
    padding: 120px;
}

.peding-30 {
    padding: 30px;
}

.container2 {
    margin: 10px 10px;
}

#headerTitle2 {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 150px 100px;
}

#ukurangambar {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 150px 100px;
}

.contactus {
    height: 790px;
    margin-top: 30px;
    font-family: Roboto;
}

.contactus hr {
    margin-bottom: 60px;
}

.contactus iframe {
    border-radius: 50px;
}

.contactus h3 {
    font-size: 30px;
    text-align: center;
}

#input {
    width: 435px;
    padding-inline: 0px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: black;
    font-size: 20px;
}

#message {
    width: 100%;
    margin-bottom: 15px;
    padding-inline: 0px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: black;
    font-size: 20px;
    height: 80px;
}

#submit {
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(39, 39, 39);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    align-items: center;
}

table {
    color: black;
    font-size: 22px;
    margin-left: 10px;
    font-family: Roboto;
}

.contactus .container1 {
    background-color: rgb(241, 239, 239);
    border-radius: 20px;
}

.footer {
    height: 200px;
    background-color: rgb(15, 15, 15);
    background-size: cover;
}

.footer .brand {
    font-size: 40px;
    margin-left: -80px;
    margin-top: 40px;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

.footer .sosmed {
    color: white;
    float: right;
    font-size: 30px;
    margin-top: -100px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.copyright {
    color: white;
    float: left;
    position: absolute;
    margin-left: -100px;
    top: 30px;
}

.footer button {
    background-color: transparent;
    border: none;
    font-size: 40px;
}

.footer .power {
    color: white;
    float: right;
    position: absolute;
    top: 30px;
    margin-left: 850px;
}

.kotak {
    background-color: rgba(243, 243, 243, 0);
    width: 300px;
    border: 15px solid rgba(192, 194, 192, 0.556);
    padding: 50px;
    margin: 20px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

.mySlides img {
    margin: 100px 100px;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


/* CSS FORM */

.name22 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitedbutton {
    width: 100%;
    background-color: #010b02;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #16a1f2;
    padding: 14px 20px;
}


/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */

.container-logo {
    width: 100px;
    height: 10px;
    position: right;
}

.form-contact-us {
    background-color: #837d7d1c;
}

.ctus {
    margin: 50px 200px;
}

.hub124 {
    margin: 100px 100px;
}

#container-logo-ibu {
    position: relative;
    width: 50px;
    height: 50px;
}

#card-image img {
    width: 50px;
    border-radius: 50%;
}

.nameour {
    margin: 10px 110px;
}