/* Mask Header */

#headerNAvigation {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 10px;
}

#headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px 10px;
}

#subtitle {
    color: rgba(37, 37, 37, 0.616);
    margin: 5px 1px;
}


/* MARK Call Us Section */

#callUs {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#article {
    flex-basis: 50%;
    flex-grow: 1;
    margin-left: 32px;
}

#article img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

#form {
    flex-basis: 30%;
    flex-grow: 1;
    background-color: rgba(177, 176, 176, 0.397);
    margin: 1px 30px;
    border-radius: 8px;
}

.titleform {
    margin: 40px 40px;
}

.titleSubForm {
    margin: 20px 40px;
    background-color: rgba(243, 11, 11, 0.055);
}

#container {
    position: relative;
    width: 50px;
    height: 50px;
}

#container image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.btn-learna {
    display: inline-block;
    border-radius: 3px;
    color: #414146;
    border: 1px solid #414146;
    background-color: transparent;
    padding: 10px 16px;
    font-size: 0.9rem;
}

.btn-learna:hover {
    background-color: transparent;
    border: 1px solid #1fe9a5;
    color: #1fe9a5 !important
}

#formname {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: grey;
    margin-right: 32px;
    border-radius: 8px;
}

#formNama {
    margin: 30px 45px;
}


/* css orang start */

.benefit ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 60px;
    list-style-type: none;
}

.benefit ul li span {
    background-color: rgba(114, 114, 114, 0.131);
    padding: 15px;
    font-size: 15px;
    border-radius: 200%;
    width: 30px;
    height: 1%;
    text-align: center;
    margin-right: 40px;
}


/* css orang end */

#Testimoni {
    color: rgba(37, 37, 37, 0.616);
    margin: 1px 1px;
}